*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-Regular.woff') format('woff');


}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
/*-------------------------------------------------*/


/* ----------------NAVBAR ------------------------ */
header{
  background-color: hsl(206, 100%, 5%);
  height: 9.4rem;
  display: flex;
  align-items: center;

}
.navbar{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 9.4rem;

}

.logo img{
  width: 100%;

}


.links-list{
  align-items: center;
  padding: 3.2rem;
  height: 9.4rem;
  position: absolute;
  right: 12.5rem;
  top: 0;
  display: none;
  background-color: hsl(206, 100%, 16%);

}

.links-list li{
  list-style: none;
  padding: 1rem;

}

.links-list li a{
  color: white;
  text-decoration: none;
  padding: 1rem;
  letter-spacing: 0.2rem;
  position: relative;
}


.links-list li a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  border-radius: 1rem;
  background-color: hsl(82, 82%, 44%);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 240ms ease-in;
}


.links-list li a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}


.menu-button{
  list-style: none;
  margin: 0 8.1rem 0 0;
  padding: 0 0.6rem 0 0.6rem;
}



.menu-button:hover .links-list{
  display: flex;
}

.menu-button img{
  transition: transform 100ms ease-in;
}

.menu-button:hover img {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}


/*-------------------------------------------------------*/


/*------------------- MAIN CONTENT ----------------------*/
main{
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

.container-one{
  margin-top: 3.1rem;
  background: url('../img/code.svg')  no-repeat center center/cover;
  border-radius: 2rem;
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;


}

/*-------------------------------------------------*/


/*-------------- SECTION-ONE ---------------------*/
.section-one{
  margin-top: 3.1rem;
  display: flex;
  justify-content: center;
  width: 55%;
  align-items: center;
  position: relative;

}


.line{
  padding: 1px;
  background-color: hsl(39, 100%, 45%);
  width: 9.4rem;

}
.vertical{
  transform: rotate(90deg);
  position: absolute;
  top: 315px;
}


.div-one{
  background-color: hsl(0, 0%, 10%);
  line-height: 5rem;
  border: 2px solid hsl(48, 100%, 45%);
  border-radius: 0.2rem;


}


.div-one h1{
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
}


.div-one p:first-of-type{
  text-align: center;
  font-size: 1.9rem;
  font-weight: bold;
  color: hsl(36, 100%, 60%);
  width: 100%;

}

.div-one p:last-of-type{
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  width: 100%;

}
/*------------------------------------------------*/


/*---------------SECTION-TWO---------------------*/

.section-two{
  margin-top: 9.4rem;
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
  position: relative;

}

.div-two{
  background-color:hsl(0, 0%, 0%);
  line-height: 5rem;
  border: 2px solid hsl(48, 100%, 45%);
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}

.div-two p:first-of-type{
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.div-two p:last-of-type{
  text-align: center;
  font-size: 1.9rem;
  font-weight: bold;
  color: hsl(336, 100%, 45%);

}


/*------------------------------------------*/


/*------------------ ELEMENT ---------------*/


.element{
  margin-top: 5.6rem;
  width: 65%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;


}
.element p:first-of-type{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  font-size: 2.5rem;
  font-weight: bolder;
  height: 6rem;
  width: 30%;
  background-color: hsl(0, 0%, 0%);
  border: 2px solid hsl(48, 100%, 45%);
  border-radius: 0.2rem;
  -webkit-transform: skew(-5deg, -5deg) rotate(5deg);
  transform: skew(-5deg, -5deg) rotate(5deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  text-shadow: 1px 1px hsl(0, 0%, 30%),
               2px 2px hsl(0, 0%, 30%),
               3px 3px hsl(0, 0%, 30%),
               4px 4px hsl(0, 0%, 30%),
               5px 5px hsl(0, 0%, 30%),
               6px 6px hsl(0, 0%, 30%),
               7px 7px hsl(0, 0%, 30%),
               8px 8px hsl(0, 0%, 15%),
               9px 9px hsl(0, 0%, 15%),
               10px 10px hsl(0, 0%, 15%),
               11px 11px 15px hsla(0,0%,0%,0.5);
}


.element p:last-of-type{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.54rem;
  font-weight: bolder;
  height: 6rem;
  width: 30%;
  background-color: hsl(0, 0%, 0%);
  border: 2px solid hsl(48, 100%, 45%);
  border-radius: 0.2rem;
  -webkit-transform: skew(-5deg, -5deg) rotate(5deg);
  transform: skew(-5deg, -5deg) rotate(5deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  text-shadow: 1px 1px hsl(0, 0%, 30%),
               2px 2px hsl(0, 0%, 30%),
               3px 3px hsl(0, 0%, 30%),
               4px 4px hsl(0, 0%, 30%),
               5px 5px hsl(0, 0%, 30%),
               6px 6px hsl(0, 0%, 30%),
               7px 7px hsl(0, 0%, 30%),
               8px 8px hsl(0, 0%, 15%),
               9px 9px hsl(0, 0%, 15%),
               10px 10px hsl(0, 0%, 15%),
               11px 11px 15px hsla(0,0%,0%,0.5);
}

/*----------------------------------------------*/


/*----------------SIDEBAR-----------------------*/

.sidebar{
  width: 16%;
  height: 37.5rem;
  background-color: hsl(206, 100%, 6%);
  box-shadow: inset 0 0 0.6rem 0 hsl(206, 100%, 6%),
  0 0 0.6rem 0 hsl(206, 100%, 6%);
  border: 0.2rem solid hsl(206, 100%, 25%);
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;


}
.sidebar h2{
  width: 80%;
  text-align: center;
  margin-top: 1rem;
  padding: 0.3rem;
  color: orange;
  border: 2px solid hsl(48, 100%, 45%);
  border-radius: 0.2rem;
  box-shadow: inset 0 0 0.6rem 0 hsl(48, 100%, 45%),
  0 0 0.6rem 0 hsl(48, 100%, 45%);


}

.sidebar p{
  width: 80%;
  line-height: 1.6rem;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing:  0.2rem;
  text-align: center;
  color: hsl(0 0% 97%);

}
.bright-button{
  width: 50%;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  color: hsl(317 100% 54%);
  border: hsl(317 100% 54%) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 hsl(317 100% 54%), 0 0 0.5em 0 hsl(317 100% 54%);
  position: relative;
}


.bright-button::before {
  content: "";
  pointer-events: none;
  position: absolute;
  background: hsl(317 100% 54%);
  top: 115%;
  left: 0;
  width: 95%;
  height: 100%;
  transform: perspective(2em) rotateX(45deg) scale(1, 0.6);
  filter: blur(1em);

}


.bright-button:hover{
  background-color: hsl(317 100% 54%);
  color: white;
}



/*-----------------------------------------------------*/


/*----------------- CONTAINER-TWO ---------------------*/

.container-two{
  background: url('../img/clean-definitive.png') no-repeat center center/cover;
  width: 75%;
  height: 51rem;
  border-radius: 2rem;
  display: flex;
  align-items: center ;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 3.2rem;
}



.section-three{
  padding: 2rem;
  width:30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: 2px solid orange;
  box-shadow: inset 0 0 0.5em 0 orange,
  0 0 0.5em 0 orange;
}

.div-three{
  background-color: hsl(0,0%,0%);
  width: 20.7rem;
  height: 20.7rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  line-height: 5rem;
  display: flex;
  align-items:center;
  justify-content: center;
  border: 2px solid hsl(317 100% 54%);
  box-shadow: inset 0 0 0.5em 0 hsl(317 100% 54%),
  0 0 0.5em 0 hsl(317 100% 54%);
}

.div-three > p{
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  color: hsl(82, 82%, 44%);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.container-two > p{
  width: 32%;
  text-align: center;
  font-weight: bold;
  padding: 0.5rem;
  height: 2.5rem;
  background-color: hsl(0 0% 0%);
  border: 2px solid hsl(82, 82%, 44%);
  box-shadow: inset 0 0 0.5em 0 hsl(82, 82%, 44%),
  0 0 0.5em 0 hsl(82, 82%, 44%);


}

/*-------------------------------------------------------*/


/*------------------ SECTION-FOUR -------------------*/

.section-four{
  width: 43%;
  height: 9.4rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid orange;
  box-shadow: inset 0 0 0.5em 0 orange,
  0 0 0.5em 0 orange;

}

.section-four p:first-of-type{
  width: 33%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color:orange;
  background-color: black;
  padding: 0.7rem;
  border-radius: 0.2rem;
  box-shadow: inset 0 0 0.5em 0 orange,
  0 0 0.5em 0 orange;
}




.section-four p:nth-child(2){
  width: 15%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.7rem;
  border-radius: 0.2rem;
  margin-right: 0.7rem;
  box-shadow:  0 0 0.5em 0 hsl(82, 82%, 44%),
  0 0 0.5em 0 hsl(82, 82%, 44%);
}





.section-four p:last-of-type{
  width: 30%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: black;
  color: orange;
  padding: 0.7rem;
  border-radius: 0.2rem;
  margin-right: 0.7rem;
  box-shadow: inset 0 0 0.5em 0 orange,
  0 0 0.5em 0 orange;
}


/*--------------------------------------------------------------*/


/*------------------SIDEBAR-LINKS--------------------------------*/

.sidebar-links{
  border-radius: 0.2rem;
  width: 16%;
  height: 31.3rem;
  background-color: hsl(206, 100%, 5%);
  box-shadow: inset 0 0 0.5em 0 hsl(206, 100%, 6%),
  0 0 0.5em 0 hsl(206, 100%, 6%);
  border: 0.2rem solid hsl(206, 100%, 25%);
  border-radius: 0.2rem;
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
}

.sidebar-links > p{
  width: 50%;
  text-align: center;
  padding: 0.5rem;
  border: 2px solid hsl(317 100% 54%);
  box-shadow: inset 0 0 0.5em 0 hsl(317 100% 54%),
  0 0 0.5em 0 hsl(317 100% 54%);
  border-radius: 0.2rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.sidebar-links ul li{
  list-style: none;
}

/*-------------------------------------------------------*/


/*--------------------------FOOTER-----------------------*/
footer{
  margin-top: 3rem;
  width: 100%;
  height: 9rem;
  background-color: hsl(206, 100%, 7%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul{
  display: flex;
}

footer ul li{
  list-style: none;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
}
.bottom{
  width: 0.1rem;
  padding: 0.1rem;
  background-color: white;
  border-radius: 0.4rem;
}

footer ol{
  display: flex;
}
footer ol li{
  list-style: none;
  padding: 2rem;
}

.underline{
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  position: relative;
}

.underline::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: hsl(317deg 100% 54%);
  border-radius: 1rem;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 240ms linear;

}
.underline:hover::after{
  transform: scaleX(1);
}



footer p{
  color: white;
  font-weight: bold;
  margin-right: 2rem;
  font-style: italic;
  font-size: 1rem;
}



/*---------------------------------------------------------*/



/*-------------------ABOUT PAGE-------------------------*/


.main-content{
  font-size: 1rem;
  color: hsl(0 0% 95%);
  display: flex;
  flex-wrap: wrap;
}

.main-content article{
  display: flex;
  justify-content: space-between;

}

.main-content section{
  display: flex;
  flex-direction:column;
  align-items: center;
  margin: 2rem 1rem 0 1rem;
  width: 40%;
  height: 98%;
  background-color: hsl(206, 100%, 7%);
  border-radius: 0.5rem;
}

.main-content p{
  width: 85%;
  text-align: justify;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin:1rem 0 1rem 0;
  padding: 1rem;
  background-color: hsl(206, 100%, 7%);
  border: 1px solid hsl(206, 100%, 20%);
  border-radius: 0.3rem;
  box-shadow: inset 0 0 0.3em  hsl(206, 100%, 20%),
  0 0 0.3em  hsl(206, 100%, 20%);
}

.main-content p:nth-child(1){
  width:40%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: hsl(0 0% 95%);
  border: 1px solid white;
  background-color: hsl(0, 0%, 1%);
  box-shadow: inset 0 0 0.3em  hsl(0 0% 98%),
  0 0 0.3em  hsl(0 0% 85%);
}

.main-content ul{
  width: 50%;
  background-color: hsl(206, 100%, 7%);
  border: 1px solid hsl(206, 100%, 20%);
  border-radius: 0.3rem;
  box-shadow: inset 0 0 0.3em  hsl(206, 100%, 20%),
  0 0 0.3em  hsl(206, 100%, 20%);
}

.main-content li{
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin-left: 1.5rem;
}


.my-photo{
  width: 270px;
  height: 300px;
  margin-top: 2rem;
}


.academic-background ul li span{
  text-transform: uppercase;
  font-weight: bold;
}

/*--------------------------------------------------------*/



/*-----------------------CONTACT PAGE------------------------*/

h1


























































/*<sticky footer to bottom*/
 /* active current page*/

/* ricordarsi di levare il .html dalle pagine*/
